<header style="background-color: #9028E1;"
  class="d-flex flex-wrap justify-content-between align-items-center py-3 container-fluid">
  <a href="main" class="d-flex align-items-center link-body-emphasis text-decoration-none">
    <img style="height: 50px;" src="assets/imgs/logo mealmate blanco.png" alt="logo_mealmate" class="mx-2">
    <h1 class="m-0 text-shadow-3 text-white titulo">MealMate</h1>
  </a>

  <ng-container *ngIf="authService.loggedIn(); else loggedOut">
    <div class="dropdown">
      <a href="#" class="d-block link-dark text-decoration-none text-white" data-bs-toggle="dropdown"
        aria-expanded="false">
        <i class="bi bi-person-circle titulo"></i>
      </a>
      <ul class="dropdown-menu text-small">
        <li><a class="dropdown-item" href="main">Home</a></li>
        <li><a class="dropdown-item" href="editar-perfil">Perfil</a></li>
        <li><a class="dropdown-item" href="objetivo">Establecer objetivo</a></li>
        <li>
          <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item" style="cursor: pointer;" (click)="authService.logOut()">Cerrar sesión</a></li>
      </ul>
    </div>
  </ng-container>

  <ng-template #loggedOut>
  </ng-template>
</header>
