<div class="menu">
  <a class="link" target="_blank" style="--color: #270C43" href="http://github.com">
    <i class="link-icon bi bi-github"></i>
    <span class="link-title">Github</span>
  </a>

  <a class="link" target="_blank" style="--color: #270C43" href="http://facebook.com">
    <i class="link-icon bi bi-facebook"></i>
    <span class="link-title">Facebook</span>
  </a>

  <a class="link" target="_blank" style="--color: #270C43" href="http://instagram.com">
    <i class="link-icon bi bi-instagram"></i>
    <span class="link-title">Instagram</span>
  </a>

  <a class="link" target="_blank" style="--color: #270C43" href="http://twitter.com">
    <i class="link-icon bi bi-twitter"></i>
    <span class="link-title">Twitter</span>
  </a>
</div>
