#backgroundImage {
  background-image: url('../../../assets/imgs/dieta.jpg');
  background-size: cover;
  height: 100vh;
}

#filaDieta td:hover {
  cursor: pointer;
  background-color: rgb(251, 194, 238);
}

ul {
  list-style-type: none;
}

.fondo-morado-difuminado {
  background-color: rgba(192, 107, 232, 0.5);
  height: 100vh;
}

table {
  font-size: 1.2rem;
}

td a:hover {
  text-decoration: underline;
}
