#backgroundImage {
  background-image: url('../../../assets/imgs/dieta.jpg');
  background-size: cover;
  height: 100vh;
}

#filaDieta td:hover {
  cursor: pointer;
  background-color: rgb(251, 194, 238);
}

ul {
  list-style-type: none;
}
