<div id="backgroundImage">
  <div class="text-center container">
    <h1 class="titulo text-white bg-dark bg-opacity-50 mx-5">TU DIETA</h1>
    <table class="table table-striped table-hover text-dark">
      <thead class="fondo-rosa-oscuro">
        <th></th>
        <th>LUNES</th>
        <th>MARTES</th>
        <th>MIÉRCOLES</th>
        <th>JUEVES</th>
        <th>VIERNES</th>
        <th>SÁBADO</th>
        <th>DOMINGO</th>
      </thead>
      <tbody>
        <tr class="fondo-rosa">
          <td>DESAYUNO</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="bg-white">
          <td>ALMUERZO</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="fondo-rosa">
          <td>MERIENDA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr class="bg-white">
          <td>CENA</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
