<div class="row">
  <div class="col text-center" id="fondoCabecera">
    <div class="bg-opacity-50 bg-dark p-5">
      <h1 class="text-white">ESTABLECE TU OBJETIVO</h1>
      <p class="text-white">¡Estableciendo tu objetivo se generarán
        tus rutinas semanales de dieta y ejercicio!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col fondo-rosa p-5">
    <h1>Mejorar rendimiento</h1>
    <p>Ejercicios para quemar muchas calorías, acelerar
      el metabolismo y mejorar el Índice de Masa Corporal.
      Ayudará a mantener el peso ideal, controlar
      la presión arterial y fortalecer el sistema inmunológico.</p>
    <button type="button" class="btn my-4 btn-outline-dark text-white opcion"
      (click)="seleccionarObjetivo('Mejorar rendimiento')">SELECCIONAR</button>
  </div>
  <div class="col">
    <img src="../../../assets/imgs/mejorar_rendimiento.jpeg" alt="Imagen mejorar rendimiento">
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="../../../assets/imgs/tonificar.PNG" alt="Imagen mejorar rendimiento">
  </div>
  <div class="col fondo-morado p-5">
    <h1 class="text-white">Tonificar</h1>
    <p class="text-white">Al tonificar los músculos se produce una disminución de la grasa
      y el peso corporal que tendrá como consecuencia una mejoría
      de la salud general ya que beneficia al corazón, las articulaciones
      y al sistema esquelético.</p>
    <button type="button" class="btn my-4 btn-outline-dark text-white opcion"
      (click)="seleccionarObjetivo('Tonificar')">SELECCIONAR</button>
  </div>
</div>
<div class="row">
  <div class="col fondo-rosa p-5">
    <h1>Perder peso</h1>
    <p>Mantener un peso saludable puede ayudar a prevenir o
      reducir el riesgo de tener enfermedades y a mejorar
      la calidad de vida. Además, también puede mejorar la
      autoestima y la confianza en ti mismo, </p>
    <button type="button" class="btn my-4 btn-outline-dark text-white opcion"
      (click)="seleccionarObjetivo('Perder peso')">SELECCIONAR</button>
  </div>
  <div class="col">
    <img src="../../../assets/imgs/perder_peso.PNG" alt="Imagen mejorar rendimiento">
  </div>
</div>
<div class="row">
  <div class="col">
    <img src="../../../assets/imgs/aumentar_masa_muscular.PNG" alt="Imagen mejorar rendimiento">
  </div>
  <div class="col fondo-morado p-5">
    <h1 class="text-white">Aumentar masa muscular</h1>
    <p class="text-white">Aumentar la masa ayudará a mantener una buena salud y
      funcionalidad física. La masa muscular ayuda a mejorar la fuerza
      y resistencia, lo que puede aumentar la capacidad de realizar
      actividades físicas y mejorar la calidad de vida en general.</p>
    <button type="button" class="btn my-4 btn-outline-dark text-white opcion"
      (click)="seleccionarObjetivo('Aumentar masa muscular')">SELECCIONAR</button>
  </div>
</div>
