<div id="carouselOpcionesMain" class="carousel slide">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselOpcionesMain" data-bs-slide-to="0" class="active" aria-current="true"
      aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselOpcionesMain" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselOpcionesMain" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../../assets/imgs/establecer objetivo.webp" class="d-block w-100" alt="Imagen establecer objetivo">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
        <h1 class="titulo">ESTABLECE TU OBJETIVO</h1>
        <p>¡Estableciendo tu objetivo se generarán tus rutinas semanales de dieta y ejercicio!</p>
        <button type="button" routerLink="/objetivo" class="btn btn-outline-dark text-white">CLICK AQUÍ</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imgs/dieta.jpg" class="d-block w-100" alt="Imagen ver dieta">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
        <h1 class="titulo">VER TU DIETA</h1>
        <p>Tu dieta diaria para llevar a cabo una vida saludable</p>
        <button type="button" routerLink="/dieta" class="btn btn-outline-dark text-white">CLICK AQUÍ</button>
      </div>
    </div>
    <div class="carousel-item">
      <img src="../../../assets/imgs/rutina.PNG" class="d-block w-100" alt="Imagen ver rutina">
      <div class="carousel-caption d-none d-md-block bg-dark bg-opacity-50">
        <h1 class="titulo">VER TU RUTINA</h1>
        <p>Tu rutina de ejercicio para darle movimiento a tu vida</p>
        <div class="row">
          <div class="col px-1"><button type="button" routerLink="/rutina/lunes" class="btn btn-outline-dark text-white">LUNES</button></div>
          <div class="col px-1"><button type="button" routerLink="/rutina/martes" class="btn btn-outline-dark text-white">MARTES</button></div>
          <div class="col px-1"><button type="button" routerLink="/rutina/miercoles" class="btn btn-outline-dark text-white">MIÉRCOLES</button></div>
          <div class="col px-1"><button type="button" routerLink="/rutina/jueves" class="btn btn-outline-dark text-white">JUEVES</button></div>
          <div class="col px-1"><button type="button" routerLink="/rutina/viernes" class="btn btn-outline-dark text-white">VIERNES</button></div>
        </div>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselOpcionesMain" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselOpcionesMain" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
