#fondo-editar-perfil {
  background-image: url('../../../assets/imgs/imagen_editar_perfil.PNG');
  background-size: cover;
}

a {
  text-decoration: none;
  transition: text-decoration 0.2s ease-in;
  font-size: 1.5rem;
}

a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 2rem;
  }

  input,
  select,
  label,
  button {
    font-size: 0.9rem;
  }

  a {
    font-size: 1rem;
  }
}
