<!DOCTYPE html>
<html>
<head>
    <title>Verificaci칩n de correo electr칩nico</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="mensaje-verificacion">
        <h1>El correo electr칩nico no se pudo verificar</h1>
        <p>Token inv치lido</p>
    </div>
</body>
</html>
