<div id="fondo_inicio_sesion" class="row">
  <div class="col bg-opacity-50 bg-dark text-white text-center p-5">
    <h1 class="mt-5 titulo">INICIAR SESIÓN</h1>
    <form class="my-4 py-4" (submit)="signIn()" [formGroup]="userForm">
      <div class="form-group m-4 text-start">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" [(ngModel)]="user.email" name="email"
          class="form-control" placeholder="Escribe aquí tu email" required>
        <div class="text-warning" *ngIf="userForm.get('email')?.hasError('required') && userForm.get('email')?.touched">
          <span>Introduce el email</span>
        </div>
      </div>
      <div class="form-group m-4 text-start">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password" [(ngModel)]="user.password" name="password"
          class="form-control" placeholder="Escribe aquí tu contraseña" required>
        <div class="text-warning"
          *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched">
          <span>Introduce la contraseña</span>
        </div>
      </div>
      <div *ngIf="errorMessage" class="text-warning">{{ errorMessage }}</div>
      <button type="submit" [disabled]="userForm.invalid" class="btn my-4 btn-outline-dark text-white">ENVIAR</button>
    </form>
    <a href="/signup" class="text-white">
      ¿No tienes cuenta? <span class="text-primary">Regístrate aquí</span>
    </a>
  </div>
  <div class="col"></div>
</div>
