<!DOCTYPE html>
<html>
<head>
    <title>Verificación de correo electrónico</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="mensaje-verificacion">
        <h1>¡Correo electrónico verificado correctamente!</h1>
        <p>Tu correo electrónico ha sido verificado exitosamente.</p>
        <p>Puedes iniciar sesión en tu cuenta ahora.</p>
        <img src="/imgs/correo-verificado.png" alt="Correo verificado">
    </div>
</body>
</html>
