<div style="background-color: #270C43;" class="text-white">
  <footer class="pt-4 container">
    <div class="row d-flex flex-row">
      <div class="col-6 col-md-2 mb-3">
        <h3>Explorar</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="main" class="text-white">Home</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-white">Suscripciones</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-white">FAQs</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-white">Sobre Nosotros</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h3>Contacto</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2">example@gmail.com</li>
          <li class="nav-item mb-2">+34 XXX XX XX XX</li>
          <li class="nav-item mb-2">C. Mamerto, Sevilla</li>
          <li class="nav-item mb-2">9:00 - 21:00</li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h3>Ayuda</h3>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="text-white">Términos y condiciones</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-white">Política de privacidad</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-white">Cookies</a></li>
          <li class="nav-item mb-2"><a href="#" class="text-white">Cancelación y devolución</a></li>
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3 ms-auto">
        <img src="assets/imgs/logo mealmate blanco.png" alt="logo_mealmate" class="img-fluid">
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-2 border-top">
      <p>© 2023, MealMate. Todos los derechos reservados.</p>
      <app-redes-sociales></app-redes-sociales>
    </div>
  </footer>
</div>
