@import '~bootstrap-icons/font/bootstrap-icons.css';

@font-face {
  font-family: 'Franklin Gothic Medium Cond';
  src: url('assets/fonts/FRAMDCN.TTF');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Franklin Gothic Medium Cond', sans-serif !important;
}

li,
p {
  font-size: 1.3rem;
}

.titulo {
  font-size: 3.2rem;
  text-shadow: black 0.1em 0.1em 0.2em;
}

label {
  font-size: 1.8rem;
}

input,
select {
  height: 50px;
}

input::placeholder {
  font-size: 1.5rem;
}

.text-warning {
  text-align: start;
  margin-left: 7px;
  font-size: 1.3rem;
}

.fondo-morado {
  background-color: #8A16C0;
}

.fondo-rosa {
  background-color: #F6D7FB;
}

.fondo-rosa-oscuro{
  background-color: #EC9DF9;
}

.fondo-beige{
  background-color: #F5F5DC;
}

.fondo-blanco{
  background-color: white;
}

.btn{
  font-size: 1.5rem !important;
  background-color: #C682DE !important;
  width: 200px !important;
  transition: transform 0.2s ease-in-out !important;
}

.btn:hover {
  transform: scale(1.1);
}

.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #C682DE;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}

input:hover, select:hover{
  border-color: #8A16C0;
}
